{% extends 'base.html' %}


{% block title %}
Оформление заказа | GlowStore
{% endblock %}


{% block content %}


<div class="auth-box">


    <h1>
        Оформление заказа
    </h1>


    <form method="POST">

        {% csrf_token %}


        <input
                type="text"
                name="name"
                placeholder="Ваше имя"
                required
        >


        <br><br>


        <input
                type="email"
                name="email"
                placeholder="Email"
                required
        >


        <br><br>


        <input
                type="text"
                name="address"
                placeholder="Адрес доставки"
                required
        >


        <br><br>


        <button>
            Подтвердить заказ
        </button>


    </form>


</div>


{% endblock %}
