{% extends 'base.html' %}


{% block title %}
О нас | GlowStore
{% endblock %}


{% block content %}

<style>

.about{
    max-width:900px;
    margin:auto;
    text-align:center;
    padding:60px 20px;
}


.about h1{
    font-family:'Playfair Display', serif;
    font-size:45px;
    color:#333;
}


.about h2{
    font-family:'Playfair Display', serif;
    color:#8b6f5a;
    margin-top:40px;
}


.about p{
    color:#666;
    line-height:1.8;
    font-size:17px;
}


</style>


<div class="about">

    <h1>
        О магазине GlowStore ✨
    </h1>


    <p>
        GlowStore — современный магазин косметики,
        созданный для тех, кто любит качественный уход
        и естественное сияние каждый день.
    </p>


    <h2>
        Почему выбирают нас?
    </h2>


    <p>
        Мы выбираем популярные beauty-продукты,
        которые помогают создавать простой,
        эффективный и приятный уход.
    </p>


    <h2>
        Premium beauty experience
    </h2>


    <p>
        Минималистичный дизайн, удобный поиск,
        категории товаров и комфортная покупка —
        всё создано для вашего удовольствия.
    </p>


</div>

{% endblock %}
