{% extends 'base.html' %}


{% block title %}
{{ product.name }} | GlowStore
{% endblock %}


{% block content %}



    <style>

        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Poppins:wght@300;400;500;600&display=swap');


        * {
            box-sizing: border-box;
        }


        body {

            font-family: 'Poppins', sans-serif;

            background: #faf8f5;

            margin: 0;

            color: #333;

        }


        .container {

            max-width: 1100px;

            margin: 60px auto;

            padding: 40px;

            background: white;

            border-radius: 25px;

            display: flex;

            gap: 60px;

            align-items: center;

            box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);

        }


        .image-box {

            flex: 1;

            text-align: center;

        }


        .image-box img {

            width: 400px;

            height: 400px;

            object-fit: cover;

            border-radius: 25px;

        }


        .info {

            flex: 1;

        }


        .info h1 {

            font-family: 'Playfair Display', serif;

            font-size: 45px;

            margin-bottom: 10px;

        }


        .brand {

            color: #8b6f5a;

            font-size: 18px;

            margin-bottom: 25px;

        }


        .description {

            color: #666;

            line-height: 1.8;

            margin-bottom: 30px;

        }


        .price {

            font-size: 32px;

            font-weight: 600;

            color: #8b6f5a;

            margin-bottom: 30px;

        }


        button {

            background: #333;

            color: white;

            border: none;

            padding: 15px 40px;

            border-radius: 30px;

            font-size: 16px;

            cursor: pointer;

            transition: 0.3s;

        }


        button:hover {

            background: #8b6f5a;

        }


        .back {

            display: block;

            text-align: center;

            margin-top: 30px;

            color: #777;

            text-decoration: none;

        }


    </style>


</head>


<body>


<div class="container">


    <div class="image-box">


        {% if product.image %}

        <img src="{{ product.image.url }}">

        {% endif %}


    </div>


    <div class="info">


        <h1>
            {{ product.name }}
        </h1>


        <div class="brand">

            {{ product.brand }}

        </div>


        <p class="description">

            {{ product.description }}

        </p>


        <div class="price">

            ${{ product.price }}

        </div>


        <a href="{% url 'add_to_cart' product.id %}">

    <button>
        Добавить в корзину 🛍️
    </button>

</a>

    </div>


</div>
{% endblock %}

